# Symlinks created by transcribe.py at runtime (whisper expects canonical names)
tiny.pt
base.pt
small.pt
medium.pt
large.pt
large-v1.pt
large-v2.pt
large-v3.pt
whisper-base.pt
whisper-small.pt
whisper-medium.pt
whisper-large*.pt
